In [1]:
# imports
import pandas as pd

In [2]:
training_df = pd.read_csv("training_data/RMP_data/full_RMP_data.csv")

In [3]:
training_df.head()

,id,tid,dept,date,forcredit,attendance,textbookuse,interest,grade,tags,comments,helpcount,nothelpcount,online,profgender,profhotness,helpfulness,clarity,easiness,quality
0,24228248,916674,Business,1/5/15,Yes,NaN,It's a must have,Really into it,NaN,"[""Would take again"", ""Hilarious"", ""Tests are t...",Great Professor My wife took this class twice ...,0,10,NaN,0,0,4.0,5.0,3.0,9.0
1,24218909,916674,Business,1/2/15,Yes,Mandatory,It's a must have,Sorta interested,A,"[""Skip class? You won't pass."", ""Tests are tou...",Great Professor Study the notes from class and...,0,1,NaN,0,0,4.0,4.0,2.0,8.0
2,24215795,916674,Business,1/2/15,Yes,NaN,Essential to passing,Really into it,NaN,"[""Hilarious"", ""Would take again"", ""Skip class?...",Brother Brau is a great guy He gives great spi...,1,2,NaN,0,0,4.0,4.0,3.0,8.0
3,24204179,916674,Business,12/30/14,Yes,Not Mandatory,Essential to passing,Sorta interested,NaN,"[""Tests are tough"", ""Get ready to read""]",People rave about Brau but I personally dont g...,18,6,NaN,0,0,3.0,1.0,2.0,4.0
4,24198463,916674,Business,12/28/14,Yes,Not Mandatory,You need it sometimes,Sorta interested,A,"[""Inspirational"", ""Hilarious"", ""Skip class? Yo...",This class doesnt have much homework which was...,1,0,NaN,0,0,4.0,4.0,4.0,8.0

In [4]:
training_df.info()
# 187167 rows, 20 columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187167 entries, 0 to 187166
Data columns (total 20 columns):
id              187167 non-null int64
tid             187167 non-null int64
dept            187167 non-null object
date            187167 non-null object
forcredit       11000 non-null object
attendance      14788 non-null object
textbookuse     141373 non-null object
interest        175112 non-null object
grade           9835 non-null object
tags            187167 non-null object
comments        186776 non-null object
helpcount       187167 non-null int64
nothelpcount    187167 non-null int64
online          991 non-null object
profgender      187167 non-null int64
profhotness     187167 non-null int64
helpfulness     117811 non-null float64
clarity         117811 non-null float64
easiness        117811 non-null float64
quality         117811 non-null float64
dtypes: float64(4), int64(6), object(10)
memory usage: 28.6+ MB

In [5]:
training_df['helpcount'].describe()

count    187167.000000
mean          0.055699
std           0.372341
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          29.000000
Name: helpcount, dtype: float64

In [6]:
training_df['online'].describe()

count        991
unique         1
top       online
freq         991
Name: online, dtype: object

In [7]:
training_df['dept'].describe()

count          187167
unique            334
top       Mathematics
freq            14298
Name: dept, dtype: object

In [8]:
training_df.groupby(['dept']).size().sort_values()[290:334]

dept
Marketing                   596
Law                         625
Mechanical Engineering      625
Art History                 686
Social Work                 718
Women's Studies             724
Dance                       741
Finance                     887
Agriculture                 943
Classics                    945
Art                         994
Social Science             1060
Literature                 1163
Statistics                 1197
Theater                    1244
Health Science             1384
Fine Arts                  1409
Spanish                    1437
Journalism                 1537
Education                  1581
Geology                    1694
Geography                  2205
Humanities                 2397
Philosophy                 2514
Accounting                 2570
Anthropology               2649
Music                      2759
Computer Science           3181
Science                    3953
Communication              4126
Physics                    4317
Engineering                4528
Sociology                  4989
Business                   5855
Languages                  6433
Political Science          6503
Economics                  6672
Psychology                 7682
History                    7844
Biology                   10272
Religion                  11218
Chemistry                 11300
English                   11798
Mathematics               14298
dtype: int64

In [9]:
training_df.groupby(['grade']).size()

grade
A                 3980
A+                 837
A-                1490
Audit/No Grade      11
B                  939
B+                 901
B-                 296
C                  231
C+                 149
C-                  75
D                   37
D+                  19
D-                  11
F                   36
INC                 49
Not sure yet       625
P                   47
Rather not say      34
WD                  68
dtype: int64

In [10]:
training_df['tid'].describe()

count    1.871670e+05
mean     7.005554e+05
std      5.123135e+05
min      1.740000e+02
25%      2.735930e+05
50%      5.923380e+05
75%      1.016084e+06
max      1.984570e+06
Name: tid, dtype: float64

In [11]:
training_df.groupby(['tid']).size()

tid
174        261
176        309
178        227
186        151
188        254
829         39
1245       219
3069       108
4310       258
4735       232
4949        32
7659        40
7694        14
8359         4
8656        44
8906         6
8956        17
9479        38
9583         9
9588        40
9589        85
9806         7
10221       16
10222      187
11058      404
12776       76
12777       56
12779        4
12780       14
12933        8
          ...
1977044      1
1977591      1
1978133      1
1978136      1
1978139      1
1978737      1
1978957      1
1979618      1
1979662      1
1980239      1
1980434      1
1980546      2
1981108      1
1981430      1
1981438      1
1981510      1
1981565      1
1981610      1
1981613      1
1981620      1
1981788      1
1982007      2
1982497      1
1982714      1
1982934      1
1983153      2
1983179      1
1983648      1
1984218      1
1984570      1
Length: 15583, dtype: int64

In [12]:
training_df['comments'].describe()

count          186776
unique         179670
top       No Comments
freq             5159
Name: comments, dtype: object

In [13]:
training_df = training_df[training_df['comments'] != 'No Comments']

In [14]:
training_df.describe()

,id,tid,helpcount,nothelpcount,profgender,profhotness,helpfulness,clarity,easiness,quality
count,1.820080e+05,1.820080e+05,182008.000000,182008.000000,182008.000000,182008.000000,115071.000000,115071.000000,115071.000000,115071.000000
mean,1.538445e+07,7.070923e+05,0.057184,0.033229,0.303465,0.232913,3.739448,3.700046,3.041557,7.439494
std,6.230749e+06,5.145705e+05,0.377323,0.283856,0.459755,0.422688,1.422131,1.368991,1.256229,2.657747
min,2.230000e+02,1.740000e+02,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,2.000000
25%,1.247934e+07,2.795800e+05,0.000000,0.000000,0.000000,0.000000,3.000000,3.000000,2.000000,6.000000
50%,1.605265e+07,5.961480e+05,0.000000,0.000000,0.000000,0.000000,4.000000,4.000000,3.000000,8.000000
75%,2.013159e+07,1.029664e+06,0.000000,0.000000,1.000000,0.000000,5.000000,5.000000,4.000000,10.000000
max,2.438667e+07,1.984570e+06,29.000000,25.000000,1.000000,1.000000,5.000000,5.000000,5.000000,10.000000

In [15]:
training_df['comments'].describe()

count            181617
unique           179669
top       Great teacher
freq                 72
Name: comments, dtype: object

In [16]:
related_sciences = [
'Computer Science',
'Economics',
'Engineering',
'Engineering Technology',
'Mathematics',
'Mechanical Engineering',
'Physics',
'Science',
'Statistics']
# related sciences with >1000 responses

In [17]:
sciences_df = training_df[training_df['dept'].isin(related_sciences)]
sciences_df.describe()

,id,tid,helpcount,nothelpcount,profgender,profhotness,helpfulness,clarity,easiness,quality
count,3.761000e+04,3.761000e+04,37610.000000,37610.000000,37610.000000,37610.000000,24882.000000,24882.000000,24882.000000,24882.000000
mean,1.493916e+07,6.601918e+05,0.072108,0.039218,0.222388,0.136932,3.442770,3.380838,2.889719,6.823607
std,6.605385e+06,5.286968e+05,0.470017,0.315228,0.415856,0.343780,1.520924,1.469615,1.270867,2.860156
min,1.593000e+03,1.860000e+02,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,2.000000
25%,1.198317e+07,2.380820e+05,0.000000,0.000000,0.000000,0.000000,2.000000,2.000000,2.000000,4.000000
50%,1.569156e+07,5.234150e+05,0.000000,0.000000,0.000000,0.000000,4.000000,4.000000,3.000000,8.000000
75%,2.002543e+07,9.704920e+05,0.000000,0.000000,0.000000,0.000000,5.000000,5.000000,4.000000,9.000000
max,2.438667e+07,1.982934e+06,20.000000,19.000000,1.000000,1.000000,5.000000,5.000000,5.000000,10.000000

In [19]:
sciences_df.info()
#37k rows

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37610 entries, 1408 to 187165
Data columns (total 20 columns):
id              37610 non-null int64
tid             37610 non-null int64
dept            37610 non-null object
date            37610 non-null object
forcredit       2241 non-null object
attendance      3155 non-null object
textbookuse     27893 non-null object
interest        34694 non-null object
grade           1974 non-null object
tags            37610 non-null object
comments        37514 non-null object
helpcount       37610 non-null int64
nothelpcount    37610 non-null int64
online          127 non-null object
profgender      37610 non-null int64
profhotness     37610 non-null int64
helpfulness     24882 non-null float64
clarity         24882 non-null float64
easiness        24882 non-null float64
quality         24882 non-null float64
dtypes: float64(4), int64(6), object(10)
memory usage: 6.0+ MB

### Topic Modeling

In [20]:
import numpy as np
import pandas as pd
import nltk
# nltk.download('punkt')
# nltk.download('stopwords')
from nltk.tokenize import sent_tokenize
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.tag import pos_tag
# nltk.download('wordnet')
from nltk.corpus import wordnet as wn
from nltk.stem.wordnet import WordNetLemmatizer

import re
import networkx as nx
from sklearn.metrics.pairwise import cosine_similarity

import spacy
spacy.load('en')
from spacy.lang.en import English
parser = English()
from spacy import displacy
from collections import Counter
import en_core_web_sm
nlp = en_core_web_sm.load()

import gensim
from gensim import corpora
from gensim.summarization.summarizer import summarize
from gensim.models.coherencemodel import CoherenceModel
import pickle

In [21]:
def tokenize(text):
    lda_tokens = []
    tokens = parser(text)
    for token in tokens:
        if token.orth_.isspace():
            continue
        elif token.like_url:
            lda_tokens.append('URL')
        elif token.orth_.startswith('@'):
            lda_tokens.append('SCREEN_NAME')
        else:
            lda_tokens.append(token.lower_)
    return lda_tokens

def get_lemma(word):
    lemma = wn.morphy(word)
    if lemma is None:
        return word
    else:
        return lemma
    
def get_lemma2(word):
    return WordNetLemmatizer().lemmatize(word)

en_stop = set(nltk.corpus.stopwords.words('english'))

def prepare_text_for_lda(text):
    tokens = tokenize(text)
    tokens = [token for token in tokens if len(token) > 4]
    tokens = [token for token in tokens if token not in en_stop]
    tokens = [get_lemma(token) for token in tokens]
    return tokens

In [22]:
def generate_dictionary_corpus(data_id, full_text):
    # going to take 5-10 minutes
    
    feedback_tokenized = []
    
    for t in full_text:
        tokens = prepare_text_for_lda(str(t))
        feedback_tokenized.append(tokens)
        
    dictionary = corpora.Dictionary(feedback_tokenized)
    dictionary_filename = "topic_dictionaries/%s_dictionary_feedback.gensim" % (data_id)
    corpus = [dictionary.doc2bow(text) for text in feedback_tokenized]
    corpus_filename = "topic_corpi/%s_corpus_feedback.pkl" % (data_id)
    
    pickle.dump(corpus, open(corpus_filename, 'wb'))
    dictionary.save(dictionary_filename)
    return dictionary, corpus

def load_dictionary_corpus(data_id):
    dictionary_filename = "topic_dictionaries/%s_dictionary_feedback.gensim" % (data_id)
    dictionary = corpora.Dictionary.load(dictionary_filename)
    corpus_filename = "topic_corpi/%s_corpus_feedback.pkl" % (data_id)
    with open(corpus_filename, 'rb') as f:
        corpus = pickle.load(f)
    if (len(dictionary) == 0):
        return
    return dictionary, corpus

chunksize = 500  
eval_every = 1  

def generate_lda(data_id, corpus, dictionary, num_topics, num_passes, num_words, num_iterations):
    # runtime will depend on number of passes
    ldamodel = gensim.models.ldamodel.LdaModel(corpus=corpus, id2word=dictionary, num_topics=num_topics, 
                                               chunksize=chunksize, alpha='auto', eta='auto',
                                               iterations=num_iterations, passes=num_passes, 
                                               eval_every=eval_every)
    ldamodel_filename = 'topic_models/%s_model%st_%sp.gensim' % (data_id, str(num_topics), str(num_passes))
    ldamodel.save(ldamodel_filename)
    
    sub_topics = ldamodel.print_topics(num_words=num_words)
    for sub_topic in sub_topics:
        print(sub_topic)
        
    return ldamodel

In [23]:
feedback_text = training_df.comments

dictionary, corpus = generate_dictionary_corpus("RMP", feedback_text)

In [ ]:
NUM_TOPICS = 15
NUM_PASSES = 50
NUM_ITERATIONS = 50 #300
NUM_WORDS = 5
dataset_id = "RMP"

#dictionary, corpus = load_dictionary_corpus(dataset_id)
model = generate_lda(dataset_id, corpus, dictionary, NUM_TOPICS, NUM_PASSES, NUM_WORDS, NUM_ITERATIONS)

coherence_model_lda = CoherenceModel(model=model, texts=feedback_text, dictionary=dictionary, coherence='c_v')
coherence_lda = coherence_model_lda.get_coherence()
print('\nCoherence Score: ', coherence_lda)

In [26]:
NUM_TOPICS = 25
NUM_PASSES = 100
NUM_WORDS = 5
dataset_id = "RMP"

dictionary, corpus = load_dictionary_corpus(dataset_id)
generate_lda(dataset_id, corpus, dictionary, NUM_TOPICS, NUM_PASSES, NUM_WORDS)

(0, '0.087*"hours" + 0.074*"office" + 0.047*"helpful" + 0.040*"email"')
(1, '0.130*"class" + 0.058*"learn" + 0.029*"every" + 0.023*"teacher"')
(2, '0.066*"class" + 0.040*"question" + 0.038*"grade" + 0.032*"midterm"')
(3, '0.093*"class" + 0.027*"professor" + 0.024*"would" + 0.021*"teach"')
(4, '0.078*"lecture" + 0.043*"class" + 0.035*"note" + 0.034*"study"')
(5, '0.070*"know" + 0.046*"sense" + 0.043*"stuff" + 0.035*"teaching"')
(6, '0.059*"understand" + 0.043*"material" + 0.039*"explain" + 0.032*"things"')
(7, '0.107*"student" + 0.034*"want" + 0.031*"professor" + 0.028*"really"')
(8, '0.119*"class" + 0.066*"great" + 0.058*"teacher" + 0.049*"really"')
(9, '0.093*"class" + 0.048*"grade" + 0.040*"reading" + 0.033*"really"')

In [67]:
NUM_TOPICS = 15
NUM_PASSES = 100
NUM_WORDS = 2
dataset_id = "RMP"

# dictionary, corpus = load_dictionary_corpus(dataset_id)
generate_lda(dataset_id, corpus, dictionary, NUM_TOPICS, NUM_PASSES, NUM_WORDS)

(0, '0.061*"class" + 0.054*"grade"')
(1, '0.065*"teacher" + 0.053*"class"')
(2, '0.040*"class" + 0.026*"hours"')
(3, '0.091*"professor" + 0.046*"student"')
(4, '0.076*"question" + 0.059*"answer"')
(5, '0.086*"class" + 0.028*"lecture"')
(6, '0.070*"class" + 0.049*"make"')
(7, '0.145*"know" + 0.110*"stuff"')
(8, '0.023*"material" + 0.022*"understand"')
(9, '0.038*"class" + 0.037*"slide"')
(10, '0.083*"class" + 0.033*"lecture"')
(11, '0.083*"class" + 0.054*"professor"')
(12, '0.039*"class" + 0.015*"lecture"')
(13, '0.046*"teacher" + 0.046*"class"')
(14, '0.094*"class" + 0.024*"learn"')

In [68]:
NUM_TOPICS = 15
NUM_PASSES = 100
NUM_WORDS = 3
dataset_id = "RMP"

# dictionary, corpus = load_dictionary_corpus(dataset_id)
generate_lda(dataset_id, corpus, dictionary, NUM_TOPICS, NUM_PASSES, NUM_WORDS)

(0, '0.084*"class" + 0.021*"lecture" + 0.017*"material"')
(1, '0.081*"class" + 0.064*"great" + 0.052*"really"')
(2, '0.085*"professor" + 0.062*"excellent" + 0.037*"student"')
(3, '0.120*"question" + 0.066*"answer" + 0.045*"class"')
(4, '0.070*"class" + 0.022*"lecture" + 0.021*"material"')
(5, '0.023*"waste" + 0.017*"could" + 0.016*"saying"')
(6, '0.042*"difficult" + 0.037*"final" + 0.035*"grade"')
(7, '0.093*"funny" + 0.045*"grader" + 0.038*"favorite"')
(8, '0.050*"class" + 0.040*"understand" + 0.022*"pretty"')
(9, '0.060*"class" + 0.046*"course" + 0.040*"lecture"')
(10, '0.048*"class" + 0.035*"teacher" + 0.026*"brother"')
(11, '0.064*"class" + 0.062*"hours" + 0.055*"office"')
(12, '0.098*"class" + 0.055*"teacher" + 0.028*"learn"')
(13, '0.136*"know" + 0.103*"stuff" + 0.048*"talking"')
(14, '0.111*"computer" + 0.054*"science" + 0.022*"jones"')

In [27]:
# i don't know about how helpful these subtopics are. what if i try... using a specific subset of the data?

In [28]:
training_df['dept'].unique()

array(['Business', 'Economics', 'Religion', 'Church History',
       'Social Science', 'Anthropology', 'Accounting', 'Music',
       'Psychology', 'Chemistry', 'Theater', 'Biology', 'Fine Arts',
       'History', 'Political Science', 'Science', 'Interior Design',
       'Humanities', 'Mathematics', 'Statistics', 'Art', 'Physiology',
       'Agriculture', 'Geography', 'Spanish', 'Physics', 'Sociology',
       'Family & Consumer Science', 'Writing', 'Film', 'Philosophy',
       'Communication', 'Computer Science', 'Nutrition & Food Science',
       'English', 'Finance', 'Japanese', 'Geology', 'Engineering',
       'Marriage Family & Human Dev', 'Languages', 'Physical Sciences',
       'Dance', 'Student Services', 'French', 'Health Science',
       'Classical Studies', 'Literature', 'English Language & Literature',
       'Information Systems', 'Mathematics Education', 'Classics',
       'Exercise & Sport Science', 'Microbiology',
       'Communication Disorders', 'Physical Education',
       'Health & Physical Education', 'Russian', 'Art History',
       'Foreign Languages', 'School of Family Life', 'German',
       'Visual Arts', 'Linguistics', 'Family Studies', 'Social Work',
       'Asian & Near Eastern Languages', 'Chemical Engineering',
       'Business Administration', 'Human Development', 'Exercise Science',
       'Chinese', 'Honors', 'Mechanical Engineering',
       'Molecular Biosciences', 'Early Childhood Education',
       'International Studies', 'Italian', 'Theatre & Media Arts',
       'Civil Engineering', 'Electrical Engineering', 'Medicine', 'Law',
       'Secondary Education', 'Recreation', 'Management', 'Physical Ed',
       'Hebrew', 'Korean', 'Information Technology', 'Ancient Scripture',
       'Scandinavian', 'Industrial Design', 'Elementary Education',
       'Educational Leadership', 'French & Italian', 'Technology',
       'Education', 'Arabic', 'Portuguese', 'Nursing',
       'Organizational Ldrshp  Strat', 'Not Specified', 'Life Science',
       'Criminal Justice', 'Nutrition  Food Science',
       'University Studies', 'Latin American Studies',
       'Aerospace Studies', 'Marketing', "Women's Studies", 'Journalism',
       'Ethnic Studies', 'Art & Art History', 'East Asian Studies',
       'Theology', 'Genetics', 'Zoology', 'Spanish & Portuguese',
       'Asian Studies', 'Environmental Studies', 'Pharmacy',
       'Agricultural Economics', 'Design', 'Consumer Science',
       'Nutrition', 'Kinesiology', 'East Asian Lang. & Literature',
       'Rehabilitation Psychology', 'African Studies', 'Astronomy',
       'Military Science', 'Oncology', 'Biomedical Engineering',
       'Horticulture', 'Mathematical and Computer Sci.',
       'Religious Studies', 'Foreign Languages & Literature',
       'Computer Information Technology', 'Child & Family Studies',
       'Business Management', 'Animal Science', 'Home & Family Studies',
       'Academic Services', 'Architecture', 'Automotive Technology',
       'Career & College Prep', 'Online Learning', 'Career Development',
       'Latin', 'Health & Human Performance', 'General Studies',
       'Library Science', 'Cultural Studies', 'Physics & Astronomy',
       'Family Social Science', 'Materials Science',
       'Genetics / Cell Biology & Dev.', 'Biological Sciences',
       'Sign Language', 'Organizational Leadership', 'Human Resources',
       'Graphic Arts', 'Speech/Language/Hearing Sci.',
       'Communication Studies', 'Gender, Women, and Sex Studies',
       'Educational Psychology', 'Information Decision Sciences',
       'Chicano Studies', 'African-American Studies', 'Writing Studies',
       'Curriculum & Instruction', 'Child Development',
       'Asian Languages & Literatures', 'Food Science & Nutrition',
       'Sports Management', 'Electrical & Comp. Engineering',
       'Aerospace Eng. & Mechanics', 'Natural History',
       'German & Scandinavian', 'Rhetoric', 'Center for Spiritual Health',
       'Administration', 'Theatre Arts & Dance', 'Anatomy',
       'Art Education', 'Textiles & Clothing', 'Food Science',
       'Comparative Studies', 'Biochemistry',
       'Engineering Graphics Tech.', 'Hospitality Management',
       'Environ. & Natural Resources', 'Industrial Engineering',
       'Allied Health', 'Hospitality', 'Natural Resources',
       'Aerospace Engineering', 'Speech & Hearing Sciences',
       'Human Resource Management', 'Human Ecology', 'Persian',
       'Near Eastern Studies', 'Public Policy',
       'Agricultural Engineering', 'Slavic Languages',
       'Public Administration', 'Neuroscience', 'Sports', 'Greek',
       'Aviation', 'Public Health', 'Transportation & Logistics',
       'Education & Human Ecology', 'Life Sciences',
       'Information Science', 'Manufacturing & Construction',
       'Construction', 'Behavioral Sciences', 'Engineering Technology',
       'Management Communications', 'American Studies',
       'Counseling Psychology', 'Facilities Management',
       'Comparative Literature', 'Organization Management',
       'Student Life', 'Organizational Ldrshp & Strat',
       'Manufacturing Engineering Tech', 'Construction Management',
       'Cantonese', 'Teaching & Learning', 'Swedish',
       'Instructional Technology', 'Psychological Science', 'Hungarian',
       'English As A Second Language', 'Graduate Studies',
       'Continuing Education', 'Classical & Medieval Studies',
       'English Language  Literature', 'Health  Physical Education',
       'French  Italian', 'Physics  Astronomy',
       'History & Asian American Studies', 'Atmospheric Sciences',
       'Entomology', 'Veterinary Sciences', 'Dietetics', 'TA',
       'Cell & Regenerative Biology', 'Hydrogeology',
       'Spanish  Portuguese', 'Culinary Arts', 'Women',
       'Art  Art History', 'Ag Bus, Plant & Animal Sci', 'Counseling',
       'Agribusiness', 'Agronomy', 'College Success',
       'Computer Science & Engineering', 'Foundations', 'EMT & Paramedic',
       'Home  Family Studies', 'Health  Human Performance',
       'Recreation & Leisure Studies', 'Child  Family Studies',
       'Foreign Languages  Literature', 'Wildlife',
       'Postsecondary Teaching', 'American Sign Language',
       'Career & Community Lrng Center', 'Supply Chain Management',
       'Urban Studies', 'Forest Resources', 'Strategic Management',
       'Ecology & Evolutionary Biology', 'Plant Biology',
       'Applied Economics', 'Public Affairs', 'Archaeology',
       'Sports Science', 'Bioproducts/Biosystems',
       'Fisheries Wildlife  Biology', 'Educational Development', 'Dental',
       'Fisheries, Wildlife & Biology', 'Surgery', 'Naval Science',
       'Earth Science', 'Landscape Architecture & Regional Planning',
       'Food Science  Nutrition', 'German  Scandinavian',
       'Electrical  Comp. Engineering', 'BioproductsBiosystems',
       'Bioethics', 'SpeechLanguageHearing Sci.',
       'Gender Women and Sex Studies', 'Global Studies',
       'Curriculum  Instruction', 'Food, Agriculture & Bio Eng',
       'Swahili', 'Athletic Training', 'Environmental Science',
       'Managerial Science', 'Environment', 'Materials Science & Eng.',
       'World Languages & Cultures', 'Nuclear Engineering',
       'Arts & Sciences', 'Respiratory Therapy', 'Medical Technology',
       'Soviet & East European Studi', 'Yiddish', 'Physical Therapy',
       'Turkish', 'Welding', 'Systems Engineering',
       'Visual Communication Design', 'Psychiatry',
       'Environ.  Natural Resources', 'Textiles  Clothing',
       'Science Education', 'Art & Design', 'Biostatistics',
       'Health Services Management', 'Polish', 'Medieval Studies',
       'Biotechnology', 'Health Information Science',
       'Womens & Gender Studies', 'Womens  Gender Studies'], dtype=object)

In [29]:
related_sciences = [
'Applied Economics',
#'Biochemistry',
#'Biological Sciences',
#'Biology',
#'Biomedical Engineering',
#'Bioproducts/Biosystems',
#'BioproductsBiosystems',
'Biostatistics',
#'Biotechnology',
#'Cell & Regenerative Biology',
#'Chemical Engineering',
#'Chemistry',
#'Civil Engineering',
'Computer Information Technology',
'Computer Science',
'Computer Science & Engineering',
#'Continuing Education',
#'Earth Science',
'Economics',
'Electrical  Comp. Engineering',
'Electrical & Comp. Engineering',
'Electrical Engineering',
'Engineering',
#'Engineering Graphics Tech.',
'Engineering Technology',
#'Environmental Science',
#'Graduate Studies',
#'Health Information Science',
#'Health Science',
#'Information Decision Sciences',
'Information Science',
'Information Systems',
'Information Technology',
#'Instructional Technology',
#'Life Science',
#'Life Sciences',
#'Manufacturing Engineering Tech',
#'Materials Science',
#'Materials Science & Eng.',
'Mathematical and Computer Sci.',
'Mathematics',
'Mechanical Engineering',
#'Medical Technology',
#'Microbiology',
#'Molecular Biosciences',
#'Neuroscience',
#'Nuclear Engineering',
#'Physical Sciences',
#'Physics',
#'Physics  Astronomy',
#'Physics & Astronomy',
#'Physiology',
'Science',
'Statistics',
'Systems Engineering',
'Technology']

In [30]:
sciences_df = training_df[training_df['dept'].isin(related_sciences)]

In [31]:
sciences_df.describe()

,id,tid,helpcount,nothelpcount,profgender,profhotness,helpfulness,clarity,easiness,quality
count,3.446600e+04,3.446600e+04,34466.000000,34466.000000,34466.000000,34466.000000,22356.000000,22356.000000,22356.000000,22356.000000
mean,1.495761e+07,6.690973e+05,0.075118,0.041954,0.237771,0.144345,3.458311,3.400295,2.892959,6.858606
std,6.640699e+06,5.412262e+05,0.483547,0.329300,0.425724,0.351444,1.523897,1.479099,1.278679,2.874829
min,1.593000e+03,1.860000e+02,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,2.000000
25%,1.197960e+07,2.232450e+05,0.000000,0.000000,0.000000,0.000000,2.000000,2.000000,2.000000,4.000000
50%,1.564428e+07,5.290940e+05,0.000000,0.000000,0.000000,0.000000,4.000000,4.000000,3.000000,8.000000
75%,2.017757e+07,1.016613e+06,0.000000,0.000000,0.000000,0.000000,5.000000,5.000000,4.000000,10.000000
max,2.438667e+07,1.982934e+06,20.000000,19.000000,1.000000,1.000000,5.000000,5.000000,5.000000,10.000000

In [32]:
sciences_df.info()
#smaller subset, 34k rows

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34466 entries, 1408 to 187165
Data columns (total 20 columns):
id              34466 non-null int64
tid             34466 non-null int64
dept            34466 non-null object
date            34466 non-null object
forcredit       2146 non-null object
attendance      3029 non-null object
textbookuse     25540 non-null object
interest        31791 non-null object
grade           1923 non-null object
tags            34466 non-null object
comments        34370 non-null object
helpcount       34466 non-null int64
nothelpcount    34466 non-null int64
online          131 non-null object
profgender      34466 non-null int64
profhotness     34466 non-null int64
helpfulness     22356 non-null float64
clarity         22356 non-null float64
easiness        22356 non-null float64
quality         22356 non-null float64
dtypes: float64(4), int64(6), object(10)
memory usage: 5.5+ MB

In [33]:
feedback_text = sciences_df.comments

dictionary, corpus = generate_dictionary_corpus("sciences", feedback_text)

In [34]:
NUM_TOPICS = 10
NUM_PASSES = 25
NUM_WORDS = 3
dataset_id = "sciences"

# dictionary, corpus = load_dictionary_corpus(dataset_id)
generate_lda(dataset_id, corpus, dictionary, NUM_TOPICS, NUM_PASSES, NUM_WORDS)

(0, '0.092*"explain" + 0.077*"question" + 0.045*"answer"')
(1, '0.097*"class" + 0.022*"lecture" + 0.021*"grade"')
(2, '0.077*"class" + 0.049*"really" + 0.042*"student"')
(3, '0.150*"hours" + 0.147*"office" + 0.051*"helpful"')
(4, '0.066*"great" + 0.059*"class" + 0.056*"professor"')
(5, '0.052*"english" + 0.050*"board" + 0.048*"speak"')
(6, '0.027*"miss" + 0.027*"language" + 0.024*"equation"')
(7, '0.050*"worst" + 0.049*"professor" + 0.040*"teach"')
(8, '0.125*"know" + 0.085*"stuff" + 0.075*"accent"')
(9, '0.052*"class" + 0.052*"lecture" + 0.036*"exam"')

In [35]:
NUM_TOPICS = 10
NUM_PASSES = 25
NUM_WORDS = 2
dataset_id = "sciences"

# dictionary, corpus = load_dictionary_corpus(dataset_id)
generate_lda(dataset_id, corpus, dictionary, NUM_TOPICS, NUM_PASSES, NUM_WORDS)

(0, '0.086*"first" + 0.035*"english"')
(1, '0.147*"question" + 0.095*"hours"')
(2, '0.103*"student" + 0.078*"teaching"')
(3, '0.034*"teach" + 0.031*"material"')
(4, '0.120*"lecture" + 0.048*"class"')
(5, '0.040*"explain" + 0.039*"really"')
(6, '0.064*"example" + 0.041*"problem"')
(7, '0.098*"class" + 0.060*"great"')
(8, '0.091*"class" + 0.030*"test"')
(9, '0.109*"class" + 0.030*"learn"')

In [36]:
NUM_TOPICS = 15
NUM_PASSES = 25
NUM_WORDS = 2
dataset_id = "sciences"

# dictionary, corpus = load_dictionary_corpus(dataset_id)
generate_lda(dataset_id, corpus, dictionary, NUM_TOPICS, NUM_PASSES, NUM_WORDS)

(0, '0.070*"exam" + 0.057*"problem"')
(1, '0.101*"class" + 0.086*"really"')
(2, '0.113*"helpful" + 0.087*"hours"')
(3, '0.060*"lecture" + 0.042*"confuse"')
(4, '0.141*"class" + 0.046*"pretty"')
(5, '0.195*"teacher" + 0.115*"great"')
(6, '0.124*"lecture" + 0.061*"class"')
(7, '0.177*"explain" + 0.102*"things"')
(8, '0.064*"class" + 0.044*"material"')
(9, '0.047*"avoid" + 0.033*"class"')
(10, '0.303*"student" + 0.086*"care"')
(11, '0.088*"professor" + 0.073*"recommend"')
(12, '0.218*"question" + 0.096*"answer"')
(13, '0.102*"class" + 0.045*"teacher"')
(14, '0.069*"class" + 0.054*"grade"')

In [37]:
NUM_TOPICS = 15
NUM_PASSES = 35
NUM_WORDS = 2
dataset_id = "sciences"

# dictionary, corpus = load_dictionary_corpus(dataset_id)
generate_lda(dataset_id, corpus, dictionary, NUM_TOPICS, NUM_PASSES, NUM_WORDS)

(0, '0.040*"absolutely" + 0.026*"teaching"')
(1, '0.091*"lecture" + 0.077*"class"')
(2, '0.102*"class" + 0.083*"teacher"')
(3, '0.074*"class" + 0.045*"professor"')
(4, '0.102*"course" + 0.034*"student"')
(5, '0.203*"class" + 0.063*"learn"')
(6, '0.146*"explain" + 0.095*"understand"')
(7, '0.094*"grade" + 0.069*"class"')
(8, '0.205*"question" + 0.090*"answer"')
(9, '0.094*"teaching" + 0.032*"student"')
(10, '0.044*"subject" + 0.037*"experience"')
(11, '0.075*"grading" + 0.071*"fairly"')
(12, '0.119*"student" + 0.071*"hours"')
(13, '0.060*"class" + 0.045*"lecture"')
(14, '0.091*"really" + 0.086*"know"')

In [38]:
NUM_TOPICS = 15
NUM_PASSES = 15
NUM_WORDS = 2
dataset_id = "sciences"

# dictionary, corpus = load_dictionary_corpus(dataset_id)
generate_lda(dataset_id, corpus, dictionary, NUM_TOPICS, NUM_PASSES, NUM_WORDS)

(0, '0.063*"question" + 0.051*"class"')
(1, '0.060*"homework" + 0.058*"exam"')
(2, '0.085*"helpful" + 0.081*"really"')
(3, '0.094*"class" + 0.047*"pretty"')
(4, '0.118*"student" + 0.065*"professor"')
(5, '0.048*"explain" + 0.045*"teach"')
(6, '0.129*"teacher" + 0.107*"great"')
(7, '0.147*"class" + 0.064*"learn"')
(8, '0.073*"thought" + 0.054*"grader"')
(9, '0.079*"class" + 0.057*"grade"')
(10, '0.162*"would" + 0.139*"recommend"')
(11, '0.117*"accent" + 0.071*"english"')
(12, '0.081*"instructor" + 0.051*"unclear"')
(13, '0.095*"lecture" + 0.073*"class"')
(14, '0.103*"grading" + 0.044*"discussion"')

In [65]:
NUM_TOPICS = 15
NUM_PASSES = 100
NUM_WORDS = 2
dataset_id = "sciences"

# dictionary, corpus = load_dictionary_corpus(dataset_id)
generate_lda(dataset_id, corpus, dictionary, NUM_TOPICS, NUM_PASSES, NUM_WORDS)

(0, '0.036*"lecture" + 0.027*"material"')
(1, '0.095*"class" + 0.064*"professor"')
(2, '0.053*"class" + 0.050*"lecture"')
(3, '0.035*"practical" + 0.017*"beware"')
(4, '0.023*"teach" + 0.019*"class"')
(5, '0.051*"course" + 0.036*"class"')
(6, '0.062*"worst" + 0.044*"sense"')
(7, '0.086*"class" + 0.065*"really"')
(8, '0.066*"tough" + 0.041*"class"')
(9, '0.036*"class" + 0.029*"student"')
(10, '0.174*"hours" + 0.145*"office"')
(11, '0.109*"class" + 0.020*"grade"')
(12, '0.053*"class" + 0.042*"programming"')
(13, '0.044*"computer" + 0.039*"major"')
(14, '0.108*"question" + 0.054*"answer"')

In [66]:
NUM_TOPICS = 15
NUM_PASSES = 100
NUM_WORDS = 3
dataset_id = "sciences"

# dictionary, corpus = load_dictionary_corpus(dataset_id)
generate_lda(dataset_id, corpus, dictionary, NUM_TOPICS, NUM_PASSES, NUM_WORDS)

(0, '0.045*"teacher" + 0.027*"awesome" + 0.023*"horrible"')
(1, '0.091*"class" + 0.022*"lecture" + 0.019*"difficult"')
(2, '0.070*"class" + 0.050*"explain" + 0.038*"student"')
(3, '0.048*"material" + 0.037*"course" + 0.035*"teaching"')
(4, '0.075*"question" + 0.065*"class" + 0.050*"answer"')
(5, '0.067*"class" + 0.030*"teacher" + 0.024*"final"')
(6, '0.066*"experience" + 0.047*"class" + 0.037*"programming"')
(7, '0.047*"class" + 0.042*"credit" + 0.038*"extra"')
(8, '0.039*"class" + 0.026*"material" + 0.024*"professor"')
(9, '0.116*"know" + 0.080*"stuff" + 0.022*"talking"')
(10, '0.032*"class" + 0.031*"project" + 0.021*"skill"')
(11, '0.052*"lecture" + 0.034*"class" + 0.028*"slide"')
(12, '0.119*"professor" + 0.069*"class" + 0.057*"student"')
(13, '0.095*"class" + 0.068*"really" + 0.034*"teacher"')
(14, '0.089*"computer" + 0.045*"class" + 0.043*"science"')

In [39]:
math_cs = [
#'Applied Economics',
#'Biochemistry',
#'Biological Sciences',
#'Biology',
#'Biomedical Engineering',
#'Bioproducts/Biosystems',
#'BioproductsBiosystems',
'Biostatistics',
#'Biotechnology',
#'Cell & Regenerative Biology',
#'Chemical Engineering',
#'Chemistry',
#'Civil Engineering',
#'Computer Information Technology',
'Computer Science',
'Computer Science & Engineering',
#'Continuing Education',
#'Earth Science',
#'Economics',
#'Electrical  Comp. Engineering',
#'Electrical & Comp. Engineering',
#'Electrical Engineering',
#'Engineering',
#'Engineering Graphics Tech.',
#'Engineering Technology',
#'Environmental Science',
#'Graduate Studies',
#'Health Information Science',
#'Health Science',
#'Information Decision Sciences',
#'Information Science',
#'Information Systems',
#'Information Technology',
#'Instructional Technology',
#'Life Science',
#'Life Sciences',
#'Manufacturing Engineering Tech',
#'Materials Science',
#'Materials Science & Eng.',
'Mathematical and Computer Sci.',
'Mathematics',
#'Mechanical Engineering',
#'Medical Technology',
#'Microbiology',
#'Molecular Biosciences',
#'Neuroscience',
#'Nuclear Engineering',
#'Physical Sciences',
#'Physics',
#'Physics  Astronomy',
#'Physics & Astronomy',
#'Physiology',
#'Science',
'Statistics',
#'Systems Engineering',
#'Technology'
]

In [40]:
math_cs_df = training_df[training_df['dept'].isin(math_cs)]

In [41]:
math_cs_df.describe()

,id,tid,helpcount,nothelpcount,profgender,profhotness,helpfulness,clarity,easiness,quality
count,1.822800e+04,1.822800e+04,18228.000000,18228.000000,18228.000000,18228.000000,11828.000000,11828.000000,11828.000000,11828.000000
mean,1.532824e+07,7.411649e+05,0.078999,0.049704,0.251481,0.141870,3.404887,3.300220,2.834714,6.705107
std,6.520043e+06,5.503291e+05,0.429621,0.348284,0.433876,0.348926,1.563892,1.510677,1.273461,2.954939
min,2.711100e+04,9.583000e+03,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,2.000000
25%,1.236241e+07,2.897110e+05,0.000000,0.000000,0.000000,0.000000,2.000000,2.000000,2.000000,4.000000
50%,1.618389e+07,5.930480e+05,0.000000,0.000000,0.000000,0.000000,4.000000,4.000000,3.000000,8.000000
75%,2.053310e+07,1.138510e+06,0.000000,0.000000,1.000000,0.000000,5.000000,5.000000,4.000000,10.000000
max,2.438667e+07,1.982934e+06,11.000000,11.000000,1.000000,1.000000,5.000000,5.000000,5.000000,10.000000

In [42]:
math_cs_df.info()
# 18k rows

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18228 entries, 8529 to 187162
Data columns (total 20 columns):
id              18228 non-null int64
tid             18228 non-null int64
dept            18228 non-null object
date            18228 non-null object
forcredit       1243 non-null object
attendance      1758 non-null object
textbookuse     13880 non-null object
interest        17011 non-null object
grade           1091 non-null object
tags            18228 non-null object
comments        18194 non-null object
helpcount       18228 non-null int64
nothelpcount    18228 non-null int64
online          86 non-null object
profgender      18228 non-null int64
profhotness     18228 non-null int64
helpfulness     11828 non-null float64
clarity         11828 non-null float64
easiness        11828 non-null float64
quality         11828 non-null float64
dtypes: float64(4), int64(6), object(10)
memory usage: 2.9+ MB

In [43]:
feedback_text = math_cs_df.comments

dictionary, corpus = generate_dictionary_corpus("math_cs", feedback_text)

In [44]:
NUM_TOPICS = 15
NUM_PASSES = 15
NUM_WORDS = 2

# dictionary, corpus = load_dictionary_corpus("math_cs")
generate_lda("math_cs", corpus, dictionary, NUM_TOPICS, NUM_PASSES, NUM_WORDS)

(0, '0.177*"make" + 0.048*"mistake"')
(1, '0.075*"homework" + 0.070*"class"')
(2, '0.074*"class" + 0.062*"lecture"')
(3, '0.134*"teacher" + 0.106*"great"')
(4, '0.024*"somewhat" + 0.024*"grading"')
(5, '0.258*"student" + 0.073*"want"')
(6, '0.091*"lecture" + 0.045*"exam"')
(7, '0.046*"difficult" + 0.045*"material"')
(8, '0.178*"hours" + 0.173*"office"')
(9, '0.082*"worst" + 0.061*"avoid"')
(10, '0.112*"question" + 0.072*"class"')
(11, '0.077*"really" + 0.059*"know"')
(12, '0.095*"explain" + 0.064*"understand"')
(13, '0.055*"class" + 0.042*"problem"')
(14, '0.128*"class" + 0.056*"recommend"')

In [45]:
NUM_TOPICS = 15
NUM_PASSES = 25
NUM_WORDS = 2

# dictionary, corpus = load_dictionary_corpus("math_cs")
generate_lda("math_cs", corpus, dictionary, NUM_TOPICS, NUM_PASSES, NUM_WORDS)

(0, '0.091*"sense" + 0.074*"anyone"')
(1, '0.112*"recommend" + 0.101*"would"')
(2, '0.065*"homework" + 0.059*"test"')
(3, '0.059*"explain" + 0.058*"teacher"')
(4, '0.090*"teaching" + 0.069*"professor"')
(5, '0.103*"know" + 0.082*"accent"')
(6, '0.101*"class" + 0.025*"grade"')
(7, '0.134*"class" + 0.042*"teacher"')
(8, '0.073*"final" + 0.062*"midterm"')
(9, '0.031*"course" + 0.028*"quite"')
(10, '0.075*"helpful" + 0.073*"hours"')
(11, '0.114*"lecture" + 0.039*"class"')
(12, '0.058*"instructor" + 0.035*"think"')
(13, '0.100*"class" + 0.057*"teach"')
(14, '0.078*"speak" + 0.077*"english"')

In [46]:
NUM_TOPICS = 15
NUM_PASSES = 35
NUM_WORDS = 2

# dictionary, corpus = load_dictionary_corpus("math_cs")
generate_lda("math_cs", corpus, dictionary, NUM_TOPICS, NUM_PASSES, NUM_WORDS)

(0, '0.059*"homework" + 0.053*"test"')
(1, '0.078*"problem" + 0.060*"proof"')
(2, '0.092*"class" + 0.046*"course"')
(3, '0.088*"class" + 0.050*"teaching"')
(4, '0.290*"question" + 0.129*"answer"')
(5, '0.054*"teach" + 0.052*"avoid"')
(6, '0.273*"explain" + 0.148*"things"')
(7, '0.099*"really" + 0.071*"understand"')
(8, '0.081*"class" + 0.042*"pretty"')
(9, '0.071*"helpful" + 0.062*"professor"')
(10, '0.125*"lecture" + 0.065*"class"')
(11, '0.078*"class" + 0.046*"recommend"')
(12, '0.115*"sense" + 0.075*"humor"')
(13, '0.077*"mistake" + 0.068*"worst"')
(14, '0.111*"class" + 0.104*"teacher"')

In [47]:
NUM_TOPICS = 15
NUM_PASSES = 25
NUM_WORDS = 3

# dictionary, corpus = load_dictionary_corpus("math_cs")
generate_lda("math_cs", corpus, dictionary, NUM_TOPICS, NUM_PASSES, NUM_WORDS)

(0, '0.136*"class" + 0.033*"would" + 0.032*"extra"')
(1, '0.078*"professor" + 0.075*"worst" + 0.056*"avoid"')
(2, '0.101*"homework" + 0.077*"problem" + 0.053*"test"')
(3, '0.145*"know" + 0.083*"stuff" + 0.064*"talking"')
(4, '0.075*"course" + 0.063*"online" + 0.059*"recitation"')
(5, '0.079*"assignment" + 0.046*"listen" + 0.041*"comment"')
(6, '0.044*"first" + 0.029*"attendance" + 0.027*"start"')
(7, '0.127*"hours" + 0.124*"office" + 0.106*"helpful"')
(8, '0.056*"class" + 0.048*"exam" + 0.039*"final"')
(9, '0.053*"class" + 0.043*"understand" + 0.033*"student"')
(10, '0.128*"question" + 0.108*"recommend" + 0.078*"would"')
(11, '0.087*"class" + 0.075*"teacher" + 0.066*"really"')
(12, '0.131*"explain" + 0.088*"things" + 0.040*"class"')
(13, '0.116*"lecture" + 0.024*"problem" + 0.022*"note"')
(14, '0.132*"class" + 0.032*"student" + 0.031*"grade"')

In [48]:
math = [
#'Applied Economics',
#'Biochemistry',
#'Biological Sciences',
#'Biology',
#'Biomedical Engineering',
#'Bioproducts/Biosystems',
#'BioproductsBiosystems',
#'Biostatistics',
#'Biotechnology',
#'Cell & Regenerative Biology',
#'Chemical Engineering',
#'Chemistry',
#'Civil Engineering',
#'Computer Information Technology',
#'Computer Science',
#'Computer Science & Engineering',
#'Continuing Education',
#'Earth Science',
#'Economics',
#'Electrical  Comp. Engineering',
#'Electrical & Comp. Engineering',
#'Electrical Engineering',
#'Engineering',
#'Engineering Graphics Tech.',
#'Engineering Technology',
#'Environmental Science',
#'Graduate Studies',
#'Health Information Science',
#'Health Science',
#'Information Decision Sciences',
#'Information Science',
#'Information Systems',
#'Information Technology',
#'Instructional Technology',
#'Life Science',
#'Life Sciences',
#'Manufacturing Engineering Tech',
#'Materials Science',
#'Materials Science & Eng.',
#'Mathematical and Computer Sci.',
'Mathematics',
#'Mechanical Engineering',
#'Medical Technology',
#'Microbiology',
#'Molecular Biosciences',
#'Neuroscience',
#'Nuclear Engineering',
#'Physical Sciences',
#'Physics',
#'Physics  Astronomy',
#'Physics & Astronomy',
#'Physiology',
#'Science',
'Statistics',
#'Systems Engineering',
#'Technology'
]

math_df = training_df[training_df['dept'].isin(math)]
math_df.describe()

,id,tid,helpcount,nothelpcount,profgender,profhotness,helpfulness,clarity,easiness,quality
count,1.504000e+04,1.504000e+04,15040.000000,15040.000000,15040.000000,15040.000000,9782.000000,9782.000000,9782.000000,9782.000000
mean,1.530856e+07,7.661523e+05,0.067154,0.035572,0.251330,0.157314,3.368943,3.243508,2.837661,6.612451
std,6.411230e+06,5.454690e+05,0.396488,0.293554,0.433792,0.364109,1.572677,1.519998,1.277562,2.975066
min,2.711100e+04,9.583000e+03,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,2.000000
25%,1.238355e+07,3.148830e+05,0.000000,0.000000,0.000000,0.000000,2.000000,2.000000,2.000000,4.000000
50%,1.602327e+07,6.040740e+05,0.000000,0.000000,0.000000,0.000000,4.000000,4.000000,3.000000,7.000000
75%,2.033611e+07,1.165689e+06,0.000000,0.000000,1.000000,0.000000,5.000000,5.000000,4.000000,9.000000
max,2.438667e+07,1.975677e+06,11.000000,11.000000,1.000000,1.000000,5.000000,5.000000,5.000000,10.000000

In [49]:
math_df.info()
#15k rows

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15040 entries, 8529 to 187160
Data columns (total 20 columns):
id              15040 non-null int64
tid             15040 non-null int64
dept            15040 non-null object
date            15040 non-null object
forcredit       974 non-null object
attendance      1390 non-null object
textbookuse     11476 non-null object
interest        14144 non-null object
grade           856 non-null object
tags            15040 non-null object
comments        15012 non-null object
helpcount       15040 non-null int64
nothelpcount    15040 non-null int64
online          83 non-null object
profgender      15040 non-null int64
profhotness     15040 non-null int64
helpfulness     9782 non-null float64
clarity         9782 non-null float64
easiness        9782 non-null float64
quality         9782 non-null float64
dtypes: float64(4), int64(6), object(10)
memory usage: 2.4+ MB

In [50]:
feedback_text = math_df.comments

dictionary, corpus = generate_dictionary_corpus("math", feedback_text)

In [51]:
NUM_TOPICS = 15
NUM_PASSES = 25
NUM_WORDS = 3
dataset_id = "math"

# dictionary, corpus = load_dictionary_corpus(dataset_id)
generate_lda(dataset_id, corpus, dictionary, NUM_TOPICS, NUM_PASSES, NUM_WORDS)

(0, '0.062*"recommend" + 0.062*"class" + 0.055*"office"')
(1, '0.094*"stats" + 0.068*"brother" + 0.034*"look"')
(2, '0.130*"class" + 0.042*"teach" + 0.030*"professor"')
(3, '0.072*"grade" + 0.053*"class" + 0.049*"homework"')
(4, '0.106*"great" + 0.082*"class" + 0.072*"really"')
(5, '0.332*"question" + 0.151*"answer" + 0.034*"ask"')
(6, '0.086*"straight" + 0.043*"forward" + 0.031*"looking"')
(7, '0.093*"teaching" + 0.076*"teacher" + 0.038*"student"')
(8, '0.105*"lecture" + 0.051*"class" + 0.039*"going"')
(9, '0.115*"problem" + 0.048*"example" + 0.046*"lecture"')
(10, '0.129*"student" + 0.041*"really" + 0.037*"want"')
(11, '0.102*"explain" + 0.051*"understand" + 0.049*"things"')
(12, '0.054*"class" + 0.054*"test" + 0.052*"exam"')
(13, '0.105*"class" + 0.045*"really" + 0.043*"teacher"')
(14, '0.060*"note" + 0.049*"review" + 0.042*"lecture"')

In [52]:
NUM_TOPICS = 15
NUM_PASSES = 25
NUM_WORDS = 2
dataset_id = "math"

# dictionary, corpus = load_dictionary_corpus(dataset_id)
generate_lda(dataset_id, corpus, dictionary, NUM_TOPICS, NUM_PASSES, NUM_WORDS)

(0, '0.052*"accent" + 0.051*"pretty"')
(1, '0.096*"class" + 0.044*"lecture"')
(2, '0.174*"question" + 0.087*"answer"')
(3, '0.068*"calculus" + 0.042*"professor"')
(4, '0.149*"office" + 0.147*"hours"')
(5, '0.121*"worst" + 0.090*"avoid"')
(6, '0.085*"sense" + 0.059*"humor"')
(7, '0.146*"explain" + 0.082*"things"')
(8, '0.072*"teacher" + 0.063*"class"')
(9, '0.121*"midterm" + 0.112*"final"')
(10, '0.133*"class" + 0.058*"recommend"')
(11, '0.071*"professor" + 0.064*"teaching"')
(12, '0.123*"know" + 0.079*"stuff"')
(13, '0.085*"homework" + 0.069*"class"')
(14, '0.104*"lecture" + 0.042*"problem"')

In [53]:
NUM_TOPICS = 15
NUM_PASSES = 25
NUM_WORDS = 1
dataset_id = "math"

# dictionary, corpus = load_dictionary_corpus(dataset_id)
generate_lda(dataset_id, corpus, dictionary, NUM_TOPICS, NUM_PASSES, NUM_WORDS)

(0, '0.061*"class"')
(1, '0.094*"question"')
(2, '0.054*"problem"')
(3, '0.067*"midterm"')
(4, '0.141*"terrible"')
(5, '0.081*"teacher"')
(6, '0.080*"teaching"')
(7, '0.163*"class"')
(8, '0.069*"write"')
(9, '0.055*"concept"')
(10, '0.052*"online"')
(11, '0.056*"brother"')
(12, '0.095*"would"')
(13, '0.107*"know"')
(14, '0.169*"explain"')

In [54]:
cs = [
#'Applied Economics',
#'Biochemistry',
#'Biological Sciences',
#'Biology',
#'Biomedical Engineering',
#'Bioproducts/Biosystems',
#'BioproductsBiosystems',
#'Biostatistics',
#'Biotechnology',
#'Cell & Regenerative Biology',
#'Chemical Engineering',
#'Chemistry',
#'Civil Engineering',
#'Computer Information Technology',
'Computer Science',
'Computer Science & Engineering',
#'Continuing Education',
#'Earth Science',
#'Economics',
#'Electrical  Comp. Engineering',
#'Electrical & Comp. Engineering',
#'Electrical Engineering',
#'Engineering',
#'Engineering Graphics Tech.',
#'Engineering Technology',
#'Environmental Science',
#'Graduate Studies',
#'Health Information Science',
#'Health Science',
#'Information Decision Sciences',
#'Information Science',
#'Information Systems',
#'Information Technology',
#'Instructional Technology',
#'Life Science',
#'Life Sciences',
#'Manufacturing Engineering Tech',
#'Materials Science',
#'Materials Science & Eng.',
'Mathematical and Computer Sci.',
#'Mathematics',
#'Mechanical Engineering',
#'Medical Technology',
#'Microbiology',
#'Molecular Biosciences',
#'Neuroscience',
#'Nuclear Engineering',
#'Physical Sciences',
#'Physics',
#'Physics  Astronomy',
#'Physics & Astronomy',
#'Physiology',
#'Science',
#'Statistics',
#'Systems Engineering',
#'Technology'
]

cs_df = training_df[training_df['dept'].isin(cs)]
cs_df.describe()

,id,tid,helpcount,nothelpcount,profgender,profhotness,helpfulness,clarity,easiness,quality
count,3.187000e+03,3.187000e+03,3187.000000,3187.000000,3187.000000,3187.000000,2046.000000,2046.000000,2046.000000,2046.000000
mean,1.542035e+07,6.231763e+05,0.134923,0.116410,0.252275,0.069030,3.576735,3.571359,2.820626,7.148094
std,7.011960e+06,5.579453e+05,0.556867,0.530847,0.434386,0.253546,1.509781,1.434994,1.253878,2.815616
min,3.929000e+04,1.293500e+04,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,2.000000
25%,1.219685e+07,1.697510e+05,0.000000,0.000000,0.000000,0.000000,2.000000,2.000000,2.000000,5.000000
50%,1.685736e+07,3.849930e+05,0.000000,0.000000,0.000000,0.000000,4.000000,4.000000,3.000000,8.000000
75%,2.125660e+07,9.768420e+05,0.000000,0.000000,1.000000,0.000000,5.000000,5.000000,4.000000,10.000000
max,2.438460e+07,1.982934e+06,11.000000,10.000000,1.000000,1.000000,5.000000,5.000000,5.000000,10.000000

In [55]:
cs_df.info()
#3k rows

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3187 entries, 13146 to 187162
Data columns (total 20 columns):
id              3187 non-null int64
tid             3187 non-null int64
dept            3187 non-null object
date            3187 non-null object
forcredit       269 non-null object
attendance      368 non-null object
textbookuse     2403 non-null object
interest        2866 non-null object
grade           235 non-null object
tags            3187 non-null object
comments        3181 non-null object
helpcount       3187 non-null int64
nothelpcount    3187 non-null int64
online          3 non-null object
profgender      3187 non-null int64
profhotness     3187 non-null int64
helpfulness     2046 non-null float64
clarity         2046 non-null float64
easiness        2046 non-null float64
quality         2046 non-null float64
dtypes: float64(4), int64(6), object(10)
memory usage: 522.9+ KB

In [56]:
feedback_text = cs_df.comments

dictionary, corpus = generate_dictionary_corpus("cs", feedback_text)

In [57]:
NUM_TOPICS = 15
NUM_PASSES = 25
NUM_WORDS = 3
dataset_id = "cs"

# dictionary, corpus = load_dictionary_corpus(dataset_id)
generate_lda(dataset_id, corpus, dictionary, NUM_TOPICS, NUM_PASSES, NUM_WORDS)

(0, '0.053*"instructor" + 0.038*"clear" + 0.026*"english"')
(1, '0.101*"class" + 0.041*"great" + 0.025*"professor"')
(2, '0.106*"class" + 0.037*"really" + 0.023*"problem"')
(3, '0.048*"class" + 0.039*"course" + 0.026*"student"')
(4, '0.064*"class" + 0.039*"computer" + 0.022*"science"')
(5, '0.054*"teacher" + 0.048*"know" + 0.034*"great"')
(6, '0.058*"class" + 0.031*"lecture" + 0.030*"teacher"')
(7, '0.065*"class" + 0.029*"teaching" + 0.018*"style"')
(8, '0.056*"class" + 0.043*"lecture" + 0.026*"slide"')
(9, '0.058*"class" + 0.056*"professor" + 0.029*"student"')
(10, '0.095*"course" + 0.031*"student" + 0.020*"think"')
(11, '0.063*"class" + 0.022*"course" + 0.020*"lecture"')
(12, '0.067*"class" + 0.033*"professor" + 0.023*"material"')
(13, '0.091*"question" + 0.064*"answer" + 0.057*"office"')
(14, '0.040*"really" + 0.037*"class" + 0.026*"student"')

In [58]:
NUM_TOPICS = 15
NUM_PASSES = 25
NUM_WORDS = 2
dataset_id = "cs"

dictionary, corpus = load_dictionary_corpus(dataset_id)
generate_lda(dataset_id, corpus, dictionary, NUM_TOPICS, NUM_PASSES, NUM_WORDS)

(0, '0.067*"programming" + 0.053*"class"')
(1, '0.040*"class" + 0.037*"learn"')
(2, '0.097*"class" + 0.021*"problem"')
(3, '0.091*"class" + 0.056*"really"')
(4, '0.087*"professor" + 0.066*"student"')
(5, '0.045*"teacher" + 0.040*"class"')
(6, '0.085*"talking" + 0.056*"know"')
(7, '0.044*"class" + 0.019*"people"')
(8, '0.070*"would" + 0.058*"course"')
(9, '0.118*"class" + 0.023*"teach"')
(10, '0.063*"class" + 0.031*"teacher"')
(11, '0.069*"question" + 0.060*"hours"')
(12, '0.051*"class" + 0.047*"lecture"')
(13, '0.035*"class" + 0.017*"extremely"')
(14, '0.051*"class" + 0.039*"exam"')

In [64]:
NUM_TOPICS = 12
NUM_PASSES = 35
NUM_WORDS = 3
dataset_id = "cs"

dictionary, corpus = load_dictionary_corpus(dataset_id)
generate_lda(dataset_id, corpus, dictionary, NUM_TOPICS, NUM_PASSES, NUM_WORDS)

(0, '0.065*"class" + 0.023*"teacher" + 0.023*"really"')
(1, '0.032*"course" + 0.021*"exam" + 0.017*"confuse"')
(2, '0.022*"brother" + 0.016*"subject" + 0.013*"sometimes"')
(3, '0.027*"question" + 0.023*"teach" + 0.022*"terrible"')
(4, '0.067*"class" + 0.030*"professor" + 0.029*"lecture"')
(5, '0.029*"explain" + 0.028*"understand" + 0.027*"homework"')
(6, '0.096*"class" + 0.023*"really" + 0.020*"lecture"')
(7, '0.043*"instructor" + 0.031*"student" + 0.016*"right"')
(8, '0.057*"class" + 0.022*"teacher" + 0.020*"explain"')
(9, '0.068*"class" + 0.037*"professor" + 0.034*"great"')
(10, '0.053*"class" + 0.026*"homework" + 0.022*"course"')
(11, '0.025*"slide" + 0.013*"sometimes" + 0.013*"ramble"')

In [62]:
cs_df.groupby(['tid']).size().sort_values()

tid
1982934      1
648560       1
659583       1
1815087      1
1730843      1
848333       1
854268       1
858464       1
885656       1
888166       1
911178       1
1811373      1
1972507      1
997242       1
1032606      1
1072360      1
1110224      1
1122232      1
1729961      1
1714705      1
1657370      1
1624054      1
1570471      1
1565410      1
1835502      1
1516871      1
1495154      1
1784036      1
1313759      1
1253886      1
          ...
593048      27
535213      28
384993      29
376953      29
230266      31
51223       32
125529      33
436178      33
926116      34
402512      34
617842      36
1420549     38
351690      42
35603       45
57593       48
182888      50
384064      54
337804      56
970492      59
196250      60
1356166     60
50662       65
143828      65
196248      66
51286       73
65686       78
177726      78
1002835     91
12935       97
155191     167
Length: 283, dtype: int64

In [63]:
math_df.groupby(['tid']).size().sort_values()

tid
1522575      1
1837457      1
852593       1
1338439      1
1823110      1
1378923      1
833204       1
1818850      1
1813328      1
1384641      1
816375       1
808653       1
1389238      1
1809692      1
1809069      1
1397533      1
802341       1
1805863      1
316160       1
1405344      1
872452       1
1327239      1
928018       1
1872242      1
927709       1
927464       1
926889       1
917843       1
1273348      1
1275503      1
          ...
571873      65
130332      66
109313      66
279580      67
371400      68
366317      68
310328      70
108262      70
355583      70
167023      70
1848210     72
629697      75
726359      75
9589        79
845786      79
289711      82
118377      83
108565      85
114796      85
48781       92
508840      93
387118      98
21455       98
256039      99
1154438    104
315767     104
262518     104
202881     109
481453     113
141039     137
Length: 1135, dtype: int64